include MANIFEST.in
include LICENSE
include README.rst
include CHANGES
include tox.ini
include .pep8
recursive-include captcha/fonts *
recursive-include captcha/locale *
recursive-include captcha/templates *
recursive-include captcha/jinja2 *
recursive-include testproject *
recursive-include docs *
exclude testproject/django-simple-captcha.db
prune .tox
prune docs/_build
prune htmlcov
global-exclude *pyc
global-exclude coverage.xml
global-exclude .DS_Store
global-exclude .coverage
